table {
    border: 2px solid black;
	font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
td {
	padding: 8px;
}
th {	
    text-align: right;
}

.outerTable {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0px;
	border-spacing: 0px;
	vertical-align: top;
}

.stationHeader {
	font-family: "Microsoft YaHei", Helvetica, sans-serif;
	padding: 12px;
	background-color: #7f7f7f;
	font-weight: bold;
    text-align: center;	
	color: white;
	font-size: 15px;
}

.destinationHeader {
   /* font-family: "Arial", Times, serif; */
	font-family: "Microsoft YaHei", Times, sans-serif;
	font-size:11px;
	background-color: #c2c2d6;
	font-weight: bold;
    text-align: right;
	/*font-size: 14px; */
}

.bookendTrain {
	font-size: 12px; 
	font-style: italic;
	text-align: right;
}

.lastUpdated {
	background-color: white;
	text-align: right;
}

.blink_me {
	font-weight: bold;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
	50% { opacity: 0; }
}

.GR, .YL, .RD, .BL, .OR, .SV {
	font-weight: bold;
	padding: 5px;
    text-align: center;
}

.GR {
    background-color: #95d097;
	color: #3e8e41;
}
.YL {
    background-color: #ffffb3;
    color: #ffff00;
}
.RD {
    background-color: #ff9999;
    color: #ff1a1a;	
}
.BL {	
    background-color: #80b3ff;
    color: #0066ff;
}
.OR {	
    background-color: #ffcc99;
    color: #ff9933;
}
.SV {
    background-color: #d9d9d9;
    color: black;
}

.busStopID {
	margin-top: .3em;
}

.BS1, .BS2, .BS4, .BS9, .B52, .B54 {
	/*font-family: "Times New Roman", Times, sans-serif; */
	font-family: "Microsoft YaHei", Helvetica, sans-serif; 
	font-size: 10pt;
    text-align: center;
	/*font-weight: bold;
	padding: 5px;
    text-align: center;
	margin-top: .3em; */
}
.BS9 {
	background-color: #29a329;
}
.BS2, .BS4 {
    background-color: #99e699;
    /*color: white; */
}
.BS1 {
    background-color: #c2f0c2;
    /*color: white; */
}

.api-link {
	font-size: 8pt;
	padding-right: 15px;
}

.forecast-hi {
	font-size: 18pt;
}