
/*
	------------------
	GENERAL CSS
	------------------
*/
.api-link {
	font-size: 8pt;
	padding-right: 15px;
}
.outerTable {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0px;
	border-spacing: 0px;
	vertical-align: top;
}

/*
	------------------
	METRO TRAIN CSS
	------------------
*/
.metroTable {	
    border: 2px solid black;
	font-size: 15px;
    font-family: "Times New Roman", Times, serif;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 5px;
}
.metroTable tr:nth-child(even) {
	background-color: #f2f2f2;
}
.metroTable td {
	padding: 8px;
}
.metroTable th {	
    text-align: right;
}


.stationHeader {
	font-family: "Microsoft YaHei", Helvetica, sans-serif;
	padding: 12px;
	background-color: #7f7f7f;
	font-weight: bold;
    text-align: center;	
	color: white;
	font-size: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.destinationHeader {
   /* font-family: "Arial", Times, serif; */
	font-family: "Microsoft YaHei", Times, sans-serif;
	font-size:11px;
	background-color: #c2c2d6;
	font-weight: bold;
    text-align: right;
	/*font-size: 14px; */
}

.bookendTrain {
	font-size: 12px; 
	font-style: italic;
	text-align: right;
}

.lastUpdated {
	background-color: white;
	text-align: right;
}

.blink_me {
	font-weight: bold;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
	50% { opacity: 0; }
}

.GR, .YL, .RD, .BL, .OR, .SV {
	font-weight: bold;
	padding: 5px;
    text-align: center;
}

.GR {
    background-color: #95d097;
	color: #3e8e41;
}
.YL {
    background-color: #ffffb3;
    color: #ffff00;
}
.RD {
    background-color: #ff9999;
    color: #ff1a1a;	
}
.BL {	
    background-color: #80b3ff;
    color: #0066ff;
}
.OR {	
    background-color: #ffcc99;
    color: #ff9933;
}
.SV {
    background-color: #d9d9d9;
    color: black;
}
/*
	------------------
	METRO BUS CSS
	------------------
*/

.busStopID {
	margin-top: .3em;
}

.BS1, .BS2, .BS4, .BS9, .B52, .B54 {
	/*font-family: "Times New Roman", Times, sans-serif; */
	font-family: "Microsoft YaHei", Helvetica, sans-serif; 
	font-size: 10pt;
    text-align: center;
	/*font-weight: bold;
	padding: 5px;
    text-align: center;
	margin-top: .3em; */
}
.BS9 {
	background-color: #29a329;
}
.BS2, .BS4 {
    background-color: #99e699;
    /*color: white; */
}
.BS1 {
    background-color: #c2f0c2;
    /*color: white; */
}


/*
	------------------
	WEATHER CSS
	------------------
*/
.forecast-table {
	font-family: "Cambria", Helvetica, sans-serif;  
	/*font-family: "Oswald", sans-serif;	*/
	/*font-family: "Candara", serif; */
	border-spacing: 8px;
    border-collapse: separate;
}
.forecast-summary {	
	float:left;
	margin-bottom:10px;
	text-transform: uppercase;
}
.forecast-next-seven {
	width:180px;
}
.forecast-hi {
	font-size: 18pt;
}
.forecast-left {
	float:left;
	width:70%;	
}
.forecast-right {
	float:right;
	width:30%;
	/*padding-right:10px; */
}

.weather-icon {
	color: #FFFFFF;
	/*float:center; */
	font-size:80pt;
	vertical-align: center;
	/*width:100%; */
}

.weather-uppercase {
	text-transform: uppercase;
}
.weather-day {	
	color: #FFFFFF;
	vertical-align: top;
	font-size: 19pt;
	font-weight: bold;
	float:left;
	width:50%;
	/*font-family: "Microsoft YaHei", Helvetica, sans-serif; */
	/*font-family: "Cambria", Helvetica, sans-serif; */
	font-family: "Cambria Math", Helvetica, sans-serif; 
	/*font-family: "Oswald", sans-serif; */
}
.day-Saturday, .day-Sunday {
	background-color: #FFFF00;
	border-radius: 4px;
}
.weather-date {
	text-align: right;
	vertical-align: top;
	padding-left: 10px;
	float:right;
	width:50%;
	line-height: 0px;
	top: -12px;
}

.precip-box {
	background-color:#fff!important;
	border-radius: 10px!important;
}
.precip-box tr {	
	background-color:#fff!important;
}
.precip-box tr:first-child td:first-child {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.precip-box tr:last-child td:last-child {
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}

.weather-panel {
	border-radius: 20px;
	padding: 18px;
	vertical-align: top;
	width: 200px;
}
.weather-panel-back-cloudy {
	background-color: #32BEBC;
}
.weather-panel-back-cloudy.today tr:nth-child(odd) {
	background-color: #228281;
}
.weather-panel-back-cloudy.today tr:nth-child(even) {
	background-color: #32BEBC;
}
.weather-panel-back-rain {
	background-color: #2999B7;	
}
.weather-panel-back-rain.today tr:nth-child(odd) {
	background-color: #1D758B;
}
.weather-panel-back-rain.today tr:nth-child(even) {
	background-color: #2999B7;	
}

.weather-panel-back-fog {	
	background-color: #bbb;
}
.weather-panel-back-fog.today tr:nth-child(odd) {
	background-color: #aaa;
}
.weather-panel-back-fog.today tr:nth-child(even) {	
	background-color: #bbb;
}
.weather-panel-back-sun {	
	background-color: #E5C851;
}
.weather-panel-back-sun.today tr:nth-child(odd) {
	background-color: #D2A91A;
}
.weather-panel-back-sun.today tr:nth-child(even) {	
	background-color: #E5C851;
}
/*
             "clear-day",
                "clear-night",
                "partly-cloudy-day",
                "partly-cloudy-night",
                "cloudy",
                "rain",
                "sleet",
                "snow",
                "wind",
                "fog"
*/